<div class="container">
  <div class="harvesting">
    <p>Units</p>
    <p class="total">
      {{ 
        staticEntity.code
        | compute_total_units_harvesting
        : dynamicBuildings
        : dynamicUnits
       }}
    </p>
  </div>

  <div class="form">
    <form
      [formGroup]="unitAssignment">

    <div class="control">
      <div class="input">
        <label>
          Workforce
          <br>
          <small>
            [ max: {{ harvestWorkforceLimit }} ]
          </small>
        </label>
        <input
          type="number"
          formControlName="workforce"
          [max]="harvestWorkforceLimit">
      </div>
    </div>

    <div class="submit">
      <ng-container *ngIf="isInvalidFormForUnitAssignment(unitAssignment) as error; else noErrorForAssignment">
        <button
          noisemaker
          [disabled]="error"
          [title]="error">
          +
        </button>
      </ng-container>
      <ng-template #noErrorForAssignment>
        <button
          noisemaker
          (click)="onUnitAssignment(unitAssignment)">
          +
        </button>
      </ng-template>
      <ng-container *ngIf="isInvalidFormForUnitUnassignment(unitAssignment) as error; else noErrorForUnassignment">
        <button
          noisemaker
          [disabled]="error"
          [title]="error">
          -
        </button>
      </ng-container>
      <ng-template #noErrorForUnassignment>
        <button
          noisemaker
          (click)="onUnitUnassignment(unitAssignment)">
          -
        </button>
      </ng-template>
    </div>
    </form>
  </div>
</div>