<div class="container">
  <div class="floating-image">
    <img
      draggable="false"
      [src]="
        staticEntity
        | compute_image_path
        : 'portraits'
        : 'buildings'
        : character
      ">
  </div>
  <div class="first-line">
    <div class="state">
      <div class="title">
        <h5>State</h5>
      </div>
      <div class="separation"></div>
      <div class="content">
        <garrison-in-play-building-state
          [dynamicBuildings]="dynamicBuildings"
          [staticEntity]="staticEntity">
        </garrison-in-play-building-state>
      </div>
    </div>
    <div class="construction">
      <div class="title">
        <h5>Construction</h5>
      </div>
      <div class="separation"></div>
      <div class="content">
        <garrison-in-play-building-construction
          [dynamicBuildings]="dynamicBuildings"
          [dynamicResearches]="dynamicResearches"
          [dynamicUnits]="dynamicUnits"
          [resources]="resources"
          [staticEntity]="staticEntity"
          (createBuilding)="onBuildingCreation($event)">
        </garrison-in-play-building-construction>
      </div>
    </div>
  </div>
  <ng-container *ngIf="
    isImprovableBuilding(staticEntity)
    || isHarvestableBuilding(staticEntity)
  ">
    <div class="second-line">
      hey
    </div>
  </ng-container>
</div>
