<div class="container">
  <div class="floating-image">
    <img
      draggable="false"
      [src]="
        staticEntity
        | compute_image_path
        : 'portraits'
        : 'buildings'
        : character
      ">
  </div>
  <div class="first-line">
    <div class="state">
      <div class="title">
        <h5>State</h5>
      </div>
      <div class="separation"></div>
      <div class="content">
        <garrison-in-play-building-state
          [dynamicBuildings]="dynamicBuildings"
          [staticEntity]="staticEntity">
        </garrison-in-play-building-state>
      </div>
    </div>
    <div class="construction">
      <div class="title">
        <h5>Construction</h5>
      </div>
      <div class="separation"></div>
      <div class="content">
        <garrison-in-play-building-construction
          [dynamicBuildings]="dynamicBuildings"
          [dynamicResearches]="dynamicResearches"
          [dynamicUnits]="dynamicUnits"
          [resources]="resources"
          [staticEntity]="staticEntity"
          (createBuilding)="onBuildingCreation($event)">
        </garrison-in-play-building-construction>
      </div>
    </div>
  </div>
  <ng-container *ngIf="
    isImprovableBuilding(staticEntity).nextImprovement
    || isHarvestableBuilding(staticEntity)
  ">
    <div class="second-line">
      <div class="harvest">
        <div class="title">
          <h5>Harvest</h5>
        </div>
        <div class="separation"></div>
        <ng-container *ngIf="isHarvestableBuilding(staticEntity); else noHarvest">
          <div class="content">
            <garrison-in-play-building-harvest
              [dynamicBuildings]="dynamicBuildings"
              [dynamicUnits]="dynamicUnits"
              [staticEntity]="staticEntity"
              (assignUnit)="onUnitAssignment($event)"
              (unassignUnit)="onUnitUnassignment($event)">
            </garrison-in-play-building-harvest>
          </div>
        </ng-container>
      </div>
      <ng-template #noHarvest>
        <p class="no-harvest">
          No harvest available
        </p>
      </ng-template>
      <div class="improvement">
        <ng-container *ngIf="isImprovableBuilding(staticEntity) as improvementInfo">
          <ng-container *ngIf="improvementInfo.nextImprovement; else noNextImprovement">
            <div class="title">
              <h5>
                Improvement
                <small>({{ improvementInfo?.total }} available)</small>
              </h5>
            </div>
            <div class="separation"></div>
            <div class="content">
              <garrison-in-play-building-improvement
                [buildingId]="improvementInfo?.nextImprovement?.building._id"
                [cost]="improvementInfo?.nextImprovement?.cost"
                [dynamicBuildings]="dynamicBuildings"
                [dynamicResearches]="dynamicResearches"
                [dynamicUnits]="dynamicUnits"
                [improvementLevel]="improvementInfo?.nextImprovement?.nextLevel"
                [maxWorkforce]="improvementInfo?.nextImprovement?.workforce.max"
                [minWorkforce]="improvementInfo?.nextImprovement?.workforce.min"
                [resources]="resources"
                [staticEntity]="staticEntity"
                (extendBuilding)="onBuildingExtension($event)"
                (upgradeBuilding)="onBuildingUpgrade($event)">
              </garrison-in-play-building-improvement>
            </div>
          </ng-container>
          <ng-template #noNextImprovement>
            <div class="title">
              <h5>
                Improvement
              </h5>
            </div>
            <div class="separation"></div>
            <p class="no-improvement">
              No improvement available
            </p>
          </ng-template>
          
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
