.container {
  display: flex;
  justify-content: center;

  nav {
    display: flex;

    .item {
      margin-left: 0.2em;
      margin-right: 0.2em;
      
      button {
        padding: 0;
      }
    }
  }
}