<div class="container">
  <nav>
    <div
      class="item"
      *ngFor="let static of staticEntities | fill_with_unusable_slots">
      
      <ng-container *ngIf="static.code; else unusable">
        <button
          [routerLink]="static.code"
          routerLinkActive="selected">
          <img
            [src]="
              static
              | compute_image_path
              :imageType
              :instanceType
              :character
            ">
        </button>
      </ng-container>
      <ng-template #unusable>
        <button
          class="unusable"
          disabled="true">
          <img src="../../../../../../../../assets/img/ornamental/unusable_slot.png">
        </button>
      </ng-template>
      
    </div>
  </nav>
</div>