<div class="container">
  <nav>
    <div
      class="item"
      *ngFor="let staticEntity of staticEntities | fill_with_unusable_slots">
      
      <ng-container *ngIf="staticEntity.code; else unusable">
        <button
          [routerLink]="staticEntity.code"
          routerLinkActive="selected">
          <img
            [src]="
              staticEntity
              | compute_image_path
              :'thumbnails'
              :instanceType
              :character
            ">
        </button>
      </ng-container>
      <ng-template #unusable>
        <button
          class="unusable"
          disabled="true">
          <img src="../../../../../../../../assets/img/ornamental/unusable_slot.png">
        </button>
      </ng-template>
      
    </div>
  </nav>
</div>