<div class="container">
  <div class="element content">
    <div class="greetings">
      <garrison-shared-infoblock>
        <h1>Greetings, {{ user.username }} !</h1>
        <p>
          My name is Reginald. I've developed this game because I love Warcraft and I am too dumb to build
          some great 3D game. I hate vectors and they hate me. Anyway, I've worked like a lot to deliver you guys this
          product I'll try to continuously improve. You obviously got the right not to like it, and your opinion means a
          lot to me so please feel free to give me some feedback. User experience, user interface, gameplay mechanisms,
          you name it. Please enjoy your adventure here !
        </p>
      </garrison-shared-infoblock>
    </div>
    <div class="dashboard">
      <ng-container *ngIf="!character; else ownsCharacter">
        <garrison-shared-infoblock>
          <img draggable="false" src="../../../../../assets/img/ornamental/creation-pic.png">
          <h1>You're the hero</h1>
          <p>
            You've been summoned by high authority to establish a garrison in the Eastern Kingdoms. But first we need to
            know who you are and who you're fighting for.
          </p>
          <button
            noisemaker
            (click)="redirectTo('./create/character')">
            Create my character
          </button>
        </garrison-shared-infoblock>
      </ng-container>
      <ng-template #ownsCharacter>
        <ng-container *ngIf="!garrisonId; else ownsGarrison">
          <garrison-shared-infoblock>
            <img draggable="false" src="../../../../../assets/img/ornamental/mixedup-buildings.png">
            <h1>Where to boot ?</h1>
            <p>
              Your troops are waiting for {{ character.name | string_capitalize }}'s orders to establish their basement.
              Go ahead and build your garrison !
            </p>
            <button
              noisemaker
              (click)="redirectTo('./create/garrison')">
              Build my garrison
            </button>
          </garrison-shared-infoblock>
        </ng-container>
        <ng-template #ownsGarrison>
          <garrison-shared-infoblock>
            <img draggable="false" src="../../../../../assets/img/ornamental/mixedup-buildings.png">
            <h1>Ready to go !</h1>
            <p>
              {{ character.name | string_capitalize }} and his troops are only waiting for you to give them some orders.
            </p>
            <button
              noisemaker
              (click)="redirectTo('./play')">
              Play
            </button>
          </garrison-shared-infoblock>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>
