.container {
  animation: fadeIn ease 0.5s;

  min-width: 50em;
  max-width: 50em;

  display: flex;
  flex-direction: column;

  .element {
    &.buttons {
      flex: 1;
      display: flex;

      margin-bottom: 0.6em;

      .button {
        flex: 1;
        display: flex;
        justify-content: center;

        button {
          flex: 2;

          padding: 0.4em;

          font-size: 0.9em;
        }
      }

      .separator {
        flex: 1;
        display: flex;
        align-items: center;

        .bar {
          height: 1px;

          flex: 3;
          margin: 0.7em;

          background-color: rgb(255, 255, 255, 0.05);
        }

        .text {
          flex: 1;

          text-align: center;

          font-size: 0.8em;

          color: rgb(255, 255, 255, 0.2)
        }
      }
    }

    &.content {
      display: flex;

      .greetings {
        margin: 0.6em;
        flex: 1;
      }

      .dashboard {
        margin: 0.6em;
        flex: 1;
      }
    }
  }
}
