<div class="container">
  <div class="element content">
    <garrison-shared-infoblock>
      <h1>Greetings, {{ user.username }} !</h1>
      <p>
        We're glad to see you here. Whether it's the first time you get here or not, we hope that you will enjoy your
        adventure in the world of Azeroth. Why don't you get started and play this game ? After all your main objective
        is to build the greatest garrison. Good luck, dear friend !
      </p>
    </garrison-shared-infoblock>
  </div>
</div>
