<div class="container">
  <div class="element content">
    <div class="greetings">
      <garrison-shared-infoblock>
        <h1>Greetings, {{ user.username }} !</h1>
        <p>
          My name is Reginald. I've developed this game because I love Warcraft and I am too dumb to build
          some great 3D game. I hate vectors and they hate me. Anyway, I've worked like a lot to deliver you guys this
          product I'll try to continuously improve. You obviously got the right not to like it, and your opinion means a
          lot to me so please feel free to give me some feedback. User experience, user interface, gameplay mechanisms,
          you name it. Please enjoy your adventure here ! 👍
        </p>
      </garrison-shared-infoblock>
    </div>
    <div class="dashboard">
      <ng-container *ngIf="!character">
        <garrison-shared-infoblock>
          <img draggable="false" src="../../../../../assets/img/ornamental/creation-pic.png">
          <h1>You're the hero</h1>
          <p>
            You've been summoned by high authority to establish a garrison in the Eastern Kingdoms. But first we need to
            know who you are and who you're fighting for.
          </p>
          <button (click)="playClickAndRedirect()">
            Create my character
          </button>
        </garrison-shared-infoblock>
      </ng-container>
    </div>
  </div>
</div>
