<div class="container">
  
  <div class="element head">
    <garrison-in-play-global-resource-displayer>
    </garrison-in-play-global-resource-displayer>
  </div>

  <div class="element body">
    <div class="menu">
      <div class="content">
        
        <div class="item">
          <button
            routerLink="buildings"
            routerLinkActive="selected"
            faction-hover-background>
            BUILDINGS
          </button>
        </div>

        <div class="item">
          <button
            routerLinkActive="selected"
            faction-hover-background>
            RESEARCHES
          </button>
        </div>

        <div class="item">
          <button
            routerLinkActive="selected"
            faction-hover-background>
            UNITS
          </button>

        </div>
      </div>
    </div>

    <div class="content">
      <router-outlet (activate)="onOutletLoaded($event)"></router-outlet>
    </div>
    
  </div>
</div>