.container {
  animation: fadeIn ease 0.5s;
  
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  .element {
    &.head {
      flex: 1;
    }

    &.body {
      flex: 5;
      display: flex;
      width: 100vw;

      .menu {
        flex: 1;
        flex-flow: row-reverse;
        align-items: baseline;

        display: flex;
        
        .content {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          
          .item {
            flex: 1;
            margin-bottom: 0.5em;
            
            button {
              background: none;
              background-color: black;
              border: 4px solid transparent;
              border-image: url('../../../../../../assets/img/textures/game-menu-item-border.jpg') 4;

              padding: 0.3em;
              min-width: 9em;

              font-size: 60%;
              padding: 0.5em;

              &.selected {
                background: url('../../../../../../assets/img/textures/game-menu-item-border.jpg');

                color: #f8d532;
              }
            }
          }
        }
      }

      .content {
        flex: 1;
        display: flex;
        justify-content: center;
        
        min-width: 948;
        max-width: 948px;
      }

      .blank {
        flex: 1;
      }
    }
  }
}