<div class="container">
  
  <div class="element head">
    <garrison-in-play-global-resource-displayer
      [dynamicBuildings]="garrison.instances.buildings"
      [dynamicResearches]="garrison.instances.researches"
      [dynamicUnits]="garrison.instances.units"
      [resources]="garrison.resources"
      [staticBuildings]="buildings"
      [staticUnits]="units">
    </garrison-in-play-global-resource-displayer>
  </div>

  <div class="element body">
    <div
      class="processes"
      *ngIf="
        garrison
        | compute_entity_global_state
        : now as states">
      <div class="title">
        <h5>🛠 Processing</h5>
      </div>
      <div class="description">
        <p>This dashboard displays ongoing processes.</p>
      </div>

      <div class="separation"></div>

      <div class="content">
        <div
          class="category"
          *ngFor="let state of states">
          <h5>
            {{ state.entityType | string_capitalize }}
            (
              <span class="quantity">
                {{ state.entities.length }}
              </span>
            )
          </h5>

          <div
            class="entity"
            *ngFor="let entity of state.entities">
            <div class="info">
              <img
              draggable="false"
              [src]="
                entity
                | compute_image_path
                :'thumbnails'
                :state.entityType
                :character
              ">
              <div class="text">
                <ng-container [ngSwitch]="state.entityType">
                  <ng-container *ngSwitchCase="'buildings'">
                    <div class="word">
                      <h4>
                        {{
                          buildings
                          | fetch_by_code
                          : entity.code
                          | fetch_appropriate_word
                          : character.side.faction
                          | string_capitalize
                        }}
                      </h4>
                      <p
                        class="workforce"
                        *ngIf="entity.workforce as workforce">
                        {{ workforce }}x
                        {{
                          units
                          | fetch_by_code
                          : 'peasant'
                          | fetch_appropriate_word
                          : character.side.faction
                          | uppercase
                        }}
                      </p>
                      <p class="remaining">
                        {{
                          { endDate: entity.endDate }
                          | compute_occupation_remaining_time
                          : now
                        }}
                      </p>
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchCase="'units'">
                    <div class="word">
                      <h4>
                        {{ entity.assignments.length }}
                        x
                        {{
                          units
                          | fetch_by_code
                          : entity.code
                          | fetch_appropriate_word
                          : character.side.faction
                          | string_capitalize
                        }}
                      </h4>
                      <p class="remaining">
                        {{
                          { endDate: entity.assignments[entity.assignments.length - 1].endDate }
                          | compute_occupation_remaining_time
                          : now
                        }}
                      </p>
                    </div>
                  </ng-container>
                  <ng-container *ngSwitchCase="'researches'">
                    <div class="word">
                      <h4>
                        {{
                          researches
                          | fetch_by_code
                          : entity.code
                          | fetch_appropriate_word
                          : character.side.faction
                          | string_capitalize
                        }}
                      </h4>
                      <p
                        class="workforce"
                        *ngIf="entity.workforce as workforce">
                        {{ workforce }}x
                        {{
                          units
                          | fetch_by_code
                          : 'researcher'
                          | fetch_appropriate_word
                          : character.side.faction
                          | uppercase
                        }}
                      </p>
                      <p class="remaining">
                        {{
                          { endDate: entity.endDate }
                          | compute_occupation_remaining_time
                          : now
                        }}
                      </p>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </div>
            <div class="action">
              <ng-container [ngSwitch]="state.entityType">
                <ng-container *ngSwitchCase="'buildings'">
                  <button
                    noisemaker
                    (click)="onConstructionCancelation(entity)">Cancel</button>
                </ng-container>
                <ng-container *ngSwitchCase="'units'">
                  <button
                    noisemaker
                    (click)="onTrainingCancelation(entity)">Cancel</button>
                </ng-container>
                <ng-container *ngSwitchCase="'researches'">
                  <button
                    noisemaker
                    (click)="onResearchCancel(entity)">Cancel</button>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="menu">
      <div class="content">
        
        
        <div class="item-list">
          <h5>Overview</h5>
          <div class="separation"></div>
  
          <div class="item">
            <button
              routerLink="register"
              routerLinkActive="selected"
              noisemaker
              faction-hover-background>
              REGISTER
            </button>
          </div>
  
          <!-- <div class="item">
            <button
              routerLink="character"
              routerLinkActive="selected"
              noisemaker
              faction-hover-background>
              CHARACTER
            </button>
          </div> -->

          <h5>Instances</h5>
          <div class="separation"></div>
          
          <div class="item">
            <button
              routerLink="buildings"
              routerLinkActive="selected"
              noisemaker
              faction-hover-background>
              BUILDINGS
            </button>
          </div>
  
          <div class="item">
            <button
              routerLink="researches"
              routerLinkActive="selected"
              noisemaker
              faction-hover-background>
              RESEARCHES
            </button>
          </div>
  
          <div class="item">
            <button
              routerLink="units"
              routerLinkActive="selected"
              noisemaker
              faction-hover-background>
              UNITS
            </button>
          </div>
        </div>
        
      </div>
    </div>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

    <div class="element blank"></div>
  </div>
</div>