.container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 150%;

  .element {
    flex: 1;

    &.logo {
      display: flex;
      align-items: center;
    }
  }
}
