.container {
  margin-top: 0.5em;
  width: 100%;

  display: flex;
  flex-direction: row;

  .element {
    &.portrait {
      background-color: black;
      box-shadow: 0px 0px 7px rgb(0, 0, 0, 0.6);

      border: 5px solid transparent;
      border-image: url('../../../../../../../../assets/img/textures/game-menu-item-border.jpg') 5;

      margin-right: 0.5em;
      flex: 1;

      img {
        &.building {
          padding: 10px;

          width: 147px;
          height: 203px;
        }

        margin-bottom: -5px;
      }
    }

    &.showcase {
      min-height: 235px;
      max-height: 235px;
      overflow: hidden;
      
      flex: 3;
      display: flex;
      flex-direction: column;

      .title, .content {
        display: flex;
        flex: 1;
        
        background-color: black;
        box-shadow: 0px 0px 7px rgb(0, 0, 0, 0.6);
        
        border: 5px solid transparent;
        border-image: url('../../../../../../../../assets/img/textures/game-menu-item-border.jpg') 5;
      }

      .title {
        margin-bottom: 0.5em;
        
        align-items: center;
        justify-content: center;
        
        text-align: center;
        
        h5 {
          margin: 0;

          font-weight: normal;
          font-size: 100%;
          color: #f8d532;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        min-width: 375px;
        max-width: 375px;
        padding: 0.5em;

        p {
          color: #aeaeae;
          margin: 0;
          font-size: 70%;
          text-align: justify;

          &.requirements {
            color: #6e6e6e;
          }
        }
      }
    }
  }
}