<div class="container">
  <div class="element portrait">
    <img
      draggable="false"
      [src]="
        staticEntity
        | compute_image_path
        :'portraits'
        :instanceType
        :character
      ">
  </div>
  <div
    class="element showcase"
    [ngClass]="[
      instanceType === 'buildings' ? 'building' : '',
      instanceType === 'researches' ? 'researches' : '',
      instanceType === 'units' ? 'units' : ''
    ]">
    <div class="title">
      <h5>
        {{
          staticEntity
          | fetch_appropriate_word
          :character.side.faction
          | string_capitalize
        }}
      </h5>
    </div>
    <div class="content">
      <div class="desc">
        <p>{{ staticEntity.description }}</p>
      </div>
      <div class="requirements">
        <p class="requirements">
          <garrison-in-play-entity-requirements
            [character]="character"
            [garrison]="garrison"
            [instanceType]="instanceType"
            [staticBuildings]="staticBuildings"
            [staticEntities]="staticEntities"
            [staticEntity]="staticEntity">
          </garrison-in-play-entity-requirements>
        </p>
      </div>
    </div>
  </div>
</div>