<div class="container">
  <div class="first-line">
    <div class="state">
      <div class="title">
        <h5>State</h5>
      </div>
      <div class="separation"></div>
      <div class="content">
        <garrison-in-play-research-state
          [dynamicResearches]="dynamicResearches"
          [staticEntity]="staticEntity">
        </garrison-in-play-research-state>
      </div>
    </div>
    <div class="launch">
      <div class="title">
        <h5>Launch</h5>
      </div>
      <div class="separation"></div>
      <div class="content">
        
      </div>
    </div>
  </div>
</div>
