.container {
  position: relative;
  
  margin-top: 0.5em;
  
  display: flex;
  flex-direction: column;

  background-color: #000;
  border: 5px solid transparent;
  border-image: url('../../../../../../../../../../assets/img/textures/game-menu-item-border.jpg') 5;
  
  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.6);
  
  .first-line, .second-line {
    .title {
      h5 {
        margin: 0;
        
        color: grey;
        font-size: 70%;
        font-weight: normal;
      }
    }
  }

  .first-line {
    width: 90%;
    margin: 0.7em;
    
    display: flex;
    z-index: 1;

    .state {
      margin-right: 1em;
      
      flex: 1;
      display: flex;
      flex-direction: column;

      .content {
        display: flex;
        justify-content: center;
      }
    }

    .launch {
      flex: 1;
      display: flex;
      flex-direction: column;

      .content {
        margin-top: 0.4em;
      }
    }
  }

}
