<div class="container">
  <div class="element">
    <garrison-in-play-entity-displayer
      [character]="character"
      [garrison]="garrison"
      [instanceType]="'units'"
      [staticEntities]="units"
      [staticEntity]="staticEntity">
    </garrison-in-play-entity-displayer>
  </div>
  <div class="element">
    <garrison-in-play-unit-displayer
      [character]="character"
      [dynamicUnits]="garrison.instances.units"
      [staticEntity]="staticEntity">
    </garrison-in-play-unit-displayer>
  </div>
</div>