<div class="container">
  <div class="element title">
    <h1>Create your character</h1>
    <div class="separator"></div>
  </div>
  <div class="element content">

    <ng-container *ngIf="apiError">
      <div class="error">
        {{ apiError }}
      </div>
    </ng-container>

    <form
      [formGroup]="characterCreation"
      (ngSubmit)="onCharacterCreation(characterCreation)">

      <div class="form-element">
        
        <div class="title">
          <div class="bar"></div>
          <h5>Chose your faction</h5>
          <div class="bar"></div>
        </div>

        <div class="selection">
          <div class="faction" *ngFor="let faction of factions">
            <button
              class="no-background"
              type="button"
              (click)="selectFaction(faction.code)"
              [disabled]="characterCreation.get('faction')?.value === faction.code"
              [ngClass]="characterCreation.get('faction')?.value === faction.code ? 'selected' : ''"
              [title]="faction | fetch_appropriate_word | string_capitalize">
                <img
                  draggable="false"
                  [src]="'../../../../../../../../assets/img/creation/' + faction.code + '.png'">
            </button>
          </div>
        </div>
      </div>

      <div class="form-element">
        <div class="title">
          <div class="bar"></div>
          <h5>Write your name</h5>
          <div class="bar"></div>
        </div>

        <div class="content">
          <input
            type="text"
            placeholder="Character's name"
            formControlName="name">
        </div>
      </div>

      <div class="form-element">
        <button
          #submitButton
          type="submit"
          [disabled]="characterCreation.invalid">
          Create
        </button>
      </div>
    </form>
  </div>
</div>
