.container {
  max-width: 25em;

  animation: fadeIn ease 0.5s;

  display: flex;
  flex-direction: column;

  background-color: black;
  border: 5px solid transparent;
  border-image: url('../../../../../../../../assets/img/textures/game-menu-item-border.jpg') 5;

  box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.6);

  padding: 1em;

  color: #aeaeae;

  .element {
    flex: 1;

    &.title {
      h1 {
        margin: 0.3em;

        color: #f8d532;

        text-align: center;

        font-size: 1.4em;
        font-weight: normal;
      }

      .separator {
        height: 1px;

        background-color: rgb(255, 255, 255, 0.06);
      }
    }

    &.content {
      margin-top: 1em;

      .error {
        text-align: center;
        font-size: 0.8em;
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .form-element {
          width: 100%;

          display: flex;
          flex-direction: column;
          align-items: center;

          text-align: center;

          .title {
            flex: 1;
            width: 100%;

            display: flex;
            align-items: center;

            h5 {
              flex: 3;
              margin: 0;
              font-size: 80%;
              font-weight: normal;
            }

            .bar {
              height: 1px;

              flex: 2;
              margin: 0.7em;

              background-color: rgb(255, 255, 255, 0.2);
            }
          }

          .selection {
            display: flex;

            .gender {
              display: flex;
              margin: 0;

              button {
                margin: 0;
                filter: grayscale(100%);
                opacity: 0.5;

                transition-property: opacity;
                transition-duration: 0.1s;

                &:hover {
                  filter: grayscale(0%);
                  opacity: 1;
                }

                &.selected {
                  filter: grayscale(0%);
                  opacity: 1;
                }
              }
            }
            
            .faction {
              display: flex;

              button {
                width: 100%;
                filter: grayscale(100%);
                opacity: 0.5;

                transition-property: opacity;
                transition-duration: 0.1s;

                &:hover {
                  filter: grayscale(0%);
                  opacity: 1;
                }

                &.selected {
                  filter: grayscale(0%);
                  opacity: 1;
                }
              }
            }
          }

          .error {
            width: 100%;

            margin-bottom: 0.5em;

            font-size: 0.7em;
          }

          .content {
            width: 100%;

            flex: 1;

            margin-top: 0.5em;

            display: flex;
            justify-content: center;

            input {
              padding: 0.4em;
              font-size: 1em;

              margin-bottom: 1em;

              text-align: center;
            }
          }

          button {
            width: 70%;

            margin-bottom: 1em;

            padding: 0.4em;
            font-size: 0.9em;

            &.no-background {
              background: transparent;
              border: none;
            }
          }
        }
      }
    }
  }
}
