.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 90%;

  span {
    &.completed {
      color: #3dbf2f;
    }

    &.uncompleted {
      color: #bf2f2f;
    }
  }
}