.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 90%;

  span {
    &.completed {
      color: #6ba941;
    }

    &.uncompleted {
      color: #a94141;
    }
  }
}