.container {
  display: flex;

  background-color: black;
  background: url('../assets/img/backgrounds/global-wallpaper.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: 'Friz Quadrata';

  height: 100vh;

  // TODO remove tmp prop
  color: white;

  .content {
    width: 100%;

    .disconnect {
      position: absolute;
      top: 0.5em;
      right: 1em;
  
      opacity: 0.3;
      
      cursor: pointer;

      p {
        margin: 0;
        padding: 0;
      }
    }
  }
}
