.container {
  display: flex;
  flex-direction: row;

  .element {
    margin: 1.5em;

    .extra-small {
      font-size: 0.6em;
    }

    &.resource {
      flex: 1;
    }

    &.logo {
      flex: 3;
    }
  }
}