<div class="container">
  <div class="element title">
    <h1>Sign up</h1>
    <div class="separator"></div>
  </div>
  <div class="element content">

    <ng-container *ngIf="apiError">
      <div class="error">
        {{ apiError }}
      </div>
    </ng-container>
    
    <form
      [formGroup]="signUp"
      (ngSubmit)="onSignUp(signUp)">
      
      <div class="form-element">
        <ng-container *ngIf="hasFormControlGotErrors('username') as errors">
          <div class="error">
            ❌ Username is required.
          </div>
        </ng-container>
        <div class="content">
          <input
            [ngClass]="hasFormControlGotErrors('username') ? 'error' : ''"
            type="text"
            name="username"
            placeholder="Your username..."
            formControlName="username">
        </div>
      </div>

      <div class="form-element">
        <ng-container *ngIf="hasFormControlGotErrors('password') as errors">
          <div class="error">
            ❌ Password is required.
          </div>
        </ng-container>
        <div class="content">
          <input
            [ngClass]="hasFormControlGotErrors('password') ? 'error' : ''"
            type="password"
            name="password"
            placeholder="Your password..."
            formControlName="password">
        </div>
      </div>

      <div class="form-element">
        <ng-container *ngIf="hasFormControlGotErrors('passwordConfirmation') as errors">
          <div class="error">
            {{
              errors.required
                ? '❌ Password confirmation is required.'
                : '❌ This password is different from the one above.'
            }}
          </div>
        </ng-container>
        <div class="content">
          <input
            [ngClass]="hasFormControlGotErrors('passwordConfirmation') ? 'error' : ''"
            type="password"
            name="passwordConfirmation"
            placeholder="Confirm your password"
            formControlName="passwordConfirmation">
        </div>
      </div>

      <div class="form-element">
        <button
          #submitButton
          type="submit"
          [disabled]="signUp.invalid">
          Sign up
        </button>
      </div>
      
    </form>
  </div>
  <!-- <ng-container *ngIf="getFormErrors(signUp) as errors">
    <div class="error-window">
      <div
        class="error"
        *ngFor="let error of errors">
      
        ❌ {{ error | json }}
        
      </div>
    </div>
  </ng-container> -->
</div>