<div class="container">
  <div class="element">
    <garrison-in-play-entity-displayer
      [character]="character"
      [garrison]="garrison"
      [instanceType]="'researches'"
      [staticEntities]="researches"
      [staticEntity]="staticEntity">
    </garrison-in-play-entity-displayer>
  </div>
  <div class="element">
    <garrison-in-play-research-displayer
      [dynamicBuildings]="garrison.instances.buildings"
      [dynamicResearches]="garrison.instances.researches"
      [dynamicUnits]="garrison.instances.units"
      [resources]="garrison.resources"
      [staticEntity]="staticEntity"
      (launchResearch)="onResearchLaunching($event)">
    </garrison-in-play-research-displayer>
  </div>
</div>