<div class="container">
  <div class="element">
    <garrison-in-play-entity-displayer
      [character]="character"
      [garrison]="garrison"
      [instanceType]="'researches'"
      [staticEntities]="researches"
      [staticEntity]="staticEntity">
    </garrison-in-play-entity-displayer>
  </div>
  <div class="element">
    <garrison-in-play-research-displayer
      [dynamicResearches]="garrison.instances.researches"
      [staticEntity]="staticEntity">
    </garrison-in-play-research-displayer>
  </div>
</div>