<div class="container">
  <div class="floating-image">
    <img
      draggable="false"
      [src]="
        staticEntity
        | compute_image_path
        : 'pictures'
        : 'units'
        : character
      ">
  </div>
  <div class="first-line">
    <div class="state">
      <div class="title">
        <h5>State</h5>
      </div>
      <div class="separation"></div>
      <div class="content">
        <garrison-in-play-unit-state
          [dynamicUnits]="dynamicUnits"
          [staticEntity]="staticEntity">
        </garrison-in-play-unit-state>
      </div>
    </div>
    <div class="training">
      <div class="title">
        <h5>Training</h5>
      </div>
      <div class="separation"></div>
      <div class="content">
        <garrison-in-play-unit-training
          [dynamicBuildings]="dynamicBuildings"
          [dynamicResearches]="dynamicResearches"
          [dynamicUnits]="dynamicUnits"
          [resources]="resources"
          [staticEntity]="staticEntity"
          (createUnit)="onUnitTraining($event)">
        </garrison-in-play-unit-training>
      </div>
    </div>
  </div>
</div>