<div class="container">
  <div class="element buttons">
    <div class="button">
      <button
        (click)="playClick()"
        routerLink="auth">
        Sign in
      </button>
    </div>
    <div class="separator">
      <div class="bar"></div>
      <div class="text">or</div>
      <div class="bar"></div>
    </div>
    <div class="button">
      <button
        (click)="playClick()"
        routerLink="auth/sign-up">
        Sign up
      </button>
    </div>
  </div>
  <div class="element content">
    <garrison-shared-infoblock>
      <h1>Welcome !</h1>
      <p>
        Garrison is a browser game based on Warcraft universe and OGame gameplay mechanisms. Here, you can make your own
        character and establish your own garrison somewhere in the Eastern Kingdoms. Also, since Garrison is on early
        alpha stage, you may find some bugs or think about a feature that would be interesting to add. Please feel free
        to
        contact us in case of any bug or good idea !
      </p>
    </garrison-shared-infoblock>
  </div>
</div>
