.container {
  display: flex;
  flex-direction: row;

  &.peasant-or-researcher {
    font-size: 0.8em;
  }

  .trained, .training, .building, .harvesting, .researching {
    margin: 20px;
    text-align: center;

    p {
      margin: 0;
      
      &.total {
        color: #f8d532;
      }
    }
  }
}